{% extends 'base.html' %}

{% block title %}About{% endblock title %}

{% block content %}

<section class='about container'>
    <h1 class='home-features-h1'>About us</h1>
    <div style='margin: 2rem 0;' class='about-content'>
        <p>
            At Toolify, we are passionate about helping people achieve their goals and make their lives easier. Our team of experienced developers and designers work hard to create tools that can help anyone from students to business owners to stay-at-home parents.<br><br>

            We believe that technology should be accessible to everyone, which is why we strive to create user-friendly tools that don't require any technical knowledge or expertise. Our team is constantly exploring new technologies and trends to ensure that we are providing the most up-to-date and efficient tools to our users.<br><br>

            Our company values transparency and honesty above all else. We are committed to maintaining open and honest communication with our users, as well as being transparent about our processes and decisions. We believe that by working together, we can create tools that truly benefit our users.<br><br>

            Thank you for choosing Toolify, and we hope our tools will help make your life a little bit easier.<br><br>
        </p>
    </div>
    <h1 class='home-features-h1'>Meet our team</h1>
    <div style='text-align: center; margin: 2rem 0;' class="testimonials-container">
        <div class="about-team">
          <img style='margin-bottom: 1rem;' src="https://api.dicebear.com/5.x/thumbs/svg?seed=ashish" alt="Testimonial image">
          <span>Ashish, CEO</span>
          <p>Ashish has been leading our team since its inception and has a wealth of experience in software development and business management. He's committed to ensuring Toolify remains at the forefront of the industry.</p>
        </div>
        <div class="about-team">
            <img style='margin-bottom: 1rem;' src="https://api.dicebear.com/5.x/thumbs/svg?seed=michael" alt="Testimonial image">
            <span>Michael Lee - Lead Developer</span>
            <p>Michael is an accomplished software developer with a deep understanding of programming languages and frameworks. He leads our development team, ensuring our tools are powerful, reliable, and user-friendly.</p>
          </div>
          <div class="about-team">
              <img style='margin-bottom: 1rem;' src="https://api.dicebear.com/5.x/thumbs/svg?seed=mary" alt="Testimonial image">
              <span>Mary Williams - Customer Support Specialist</span>
            <p>Mary is our resident customer support expert, with a wealth of experience in troubleshooting and resolving customer issues. She's dedicated to ensuring every customer has a positive experience using Toolify.</p>
          </div>
      </div> 
</section>

{% endblock content %}