{% extends 'base.html' %}

{% block title %}Change password{% endblock title %}

{% block content %}
  {% comment %} {% if validlink %}
    <h3>Change password</h3>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Change password</button>
    </form>
  {% else %}
    <p>
      The password reset link was invalid, possibly because it has already been used.
      Please request a new password reset.
    </p>
  {% endif %} {% endcomment %}

  <section class='signup container'>
    <div class='password-reset-form'>
        {% if validlink %}
        <form class='reset-form signup-form' method="post">
            <h1 style='margin-bottom: 1rem;'>Change password</h1>
          {% csrf_token %}
          {{ form.as_p }}
          <button style='border: none; cursor: pointer; padding: .7rem 1rem; margin-top: 1rem;' class='btn' type="submit">Reset</button>
        </form>
      {% else %}
        <p>
          The password reset link was invalid, possibly because it has already been used.
          Please request a new password reset.
        </p>
      {% endif %}
    </div>
  </section>
  <style>
    .reset-form ul {
        margin: .5rem 0;
    }
    .reset-form ul li {
        margin-left: 1.5rem;
        position: relative;
      }
      
      .reset-form ul li:before {
        content: "•";
        position: absolute;
        left: -1.25rem;
        top: 50%;
        transform: translateY(-50%);
        color: #ff2c33;
        font-size: 1.5rem;
        line-height: 1;
        vertical-align: middle;
      }
  </style>

{% endblock %}