{% extends 'base.html' %}
{% block title %}Password Generator{% endblock title %}

{% block content %}
<section class='yt-video-downloader container'>
    <div class='yt-video-downloader-content'>
        <form name='passgenform' class='password-gen-form' method="POST">
            <h1>Password Generator</h1>
            {% csrf_token %}
<textarea class='password' readonly>{% if password %}{{ password }}{% endif %}</textarea>
    <div class='form-label'>
        <label for="length"><b>Password Length:</b></label>
        <div class='pass-length'>
            <input type="range" id="length" name="length" min="4" max="32" value="8" required>
            <output for="length" id="length-output">8</output>
        </div>
    </div>
    <br>
    <div class='form-label'>
    <label><b>Include Uppercase Letters:</b></label>
    <label class="switch">
        <input type="checkbox" name="uppercase" checked>
        <span class="slider"></span>
    </label>
    </div>
    <br>
    <div class='form-label'>
    <label><b>Include Lowercase Letters:</b></label>
    <label class="switch">
        <input type="checkbox" name="lowercase" checked>
        <span class="slider"></span>
    </label>
    </div>
    <br>
    <div class='form-label'>
    <label><b>Include Numbers:</b></label>
    <label class="switch">
        <input type="checkbox" name="numbers" checked>
        <span class="slider"></span>
    </label>
    </div>
    <br>
    <div class='form-label'>
    <label><b>Include Symbols:</b></label>
    <label class="switch">
        <input type="checkbox" name="symbols" checked>
        <span class="slider"></span>
    </label>
    </div>
    <br>
    <center><a href="javascript: submitform()" class='btn' type="submit">Generate password</a></center><br>
    <center><a style='cursor:pointer;' onclick="copyText()" id="copy-button" class='btn'>Copy text</a></center>
</form>
</div>
</section>
<script type="text/javascript"> 
    const slider = document.getElementById("length");
const output = document.getElementById("length-output");

output.innerHTML = slider.value;

slider.oninput = function() {
  output.innerHTML = this.value;
};

function submitform() {   document.passgenform.submit(); } 

function copyText() {
    var text = document.querySelector(".password");
    var CopyBtn = document.getElementById("copy-button");
    text.select();
    document.execCommand("copy");
    CopyBtn.innerHTML = 'Copied!'
    setTimeout(function() {
        CopyBtn.innerHTML = 'Copy text'
    }, 1000);
  }

</script>
{% endblock %}